.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  padding: 10px;
  /* background: url(http://www.dummyimage.com/12x16/ff0000/ffffff.png&text=X++) top left repeat; */
}

.a {
  border: 1px solid black;
  background: grey;
  display: inline-block;    
  position: relative;    
  height: 100px;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
}
.b {
  border: 1px solid black;
  background: grey;
  display: inline-block;    
  position: relative;    
  height: 200px;
  text-align: center;
  line-height: 100px;
  vertical-align: top;
  border-radius:10px 0 10px 10px;
}

#a {
  width: 100px;
  border-radius: 20px;
}

#a:before {
  content:' ';
  left: -6px;
  top: -6px;
  position: absolute;
  z-index: -1;
  width: 112px; 
  height: 112px;
  border-radius: 20px;
  background-color: white;
} 

#b {

  width: 300px;
  z-index: -2;
  padding-left: 50px;
  margin-left: -10px;
  overflow: hidden;
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-bottomright: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#b:before {
  content:' ';
  /* left: -58px; */
  top: -7px;
  position: absolute;
  width: 214px; /* 5px gap, 1px border */
  height: 114px;
  border-radius: 57px;
  /* background-color: black; */
} 

